.text-gray {
  color: $color-gray !important;
}

.text-primary {
  color: $text-primary !important;
}

.text-secondary {
  color: $text-secondary !important;
}

.text-light {
  color: $text-tertiary !important;
}
